@import './base.css';

/*#app {*/
/*  max-width: 1280px;*/
/*  !*margin: 0 auto;*!*/
/*  !*padding: 2rem;*!*/
/*  font-weight: normal;*/
/*}*/


.row {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
